.featureGrid {
	display: flex;
	flex-direction: column;

	.featureContainer {
		background-color: lightgray;
		display: flex;
		flex: 1;
		flex-direction: column;
		margin: 5px;
	
		.controlsContainer {
			display: flex;
			flex: 1;
			flex-direction: column;
			padding: 10px;

			.controlsHeaders {
				display: flex;
			}

			.controlsValuesContainer {
				position: relative;
				flex: 1;

				.controlsValues{
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					display: flex;
					flex: 1;
					flex-direction: column;
					flex-wrap: wrap;
					overflow: hidden;
				}
			}
		}
	}
}
