.featureGrid {
	display: flex;
	flex-direction: column;

	.featureContainer {
		background-color: lightgray;
		display: flex;
		flex: 1;
		flex-direction: column;
		margin: 5px;
	
		.controlsContainer {
			display: flex;
			flex: 1;
			flex-direction: column;
			padding: 10px;

			.controlsHeaders {
				display: flex;
			}

			.controlsValues {
				display: flex;
				flex: 1;
				flex-direction: column;
				flex-wrap: wrap;
				height: 500px;
				overflow: hidden;
			}
		}
	}
}
