.featureGrid {
	background-color: lightgray;
	height: 100%;
}

.controlsContainer {
	padding: 5px;
	display: flex;
	flex-direction: column;
	flex: 1;
	flex-wrap: wrap;
	overflow: hidden;
	height: 250px;
}
