$padding: 20px;

.container {
	display: flex;
	flex: 1;
	flex-direction: column;
	height: calc(100% - calc(2 * #{$padding}));
	padding: 20px;

	.name {
		color: grey;
		font-size: 24px;
		font-weight: bold;
		padding: $padding;
	}
}
